.HomePage{
    .header-section{
        height:8vh;
        margin-top:5px;
        text-align: center;
        font-size: 1.5rem;
    }
    .teams-section{
        height:82vh;
        width:auto;
        margin: auto 8%;
        display: grid;
        grid-template-columns: repeat(6, 1.2fr);
        padding: 3% ;
        grid-template-rows: auto;
    }

    @media all and(max-width:1500px){
        .teams-section{
            height:84vh;
            width:auto;
            display: grid;
            margin-left: 8%;
            grid-template-columns: repeat(4, 1fr);
            padding: 3% ;
            grid-template-rows: auto;
        }
    }
    @media all and(max-width:1070px){
        .teams-section{
            height:84vh;
            width:auto;
            display: grid;
            margin-left: 8%;
            grid-template-columns: repeat(3, 1fr);
            padding: 3% ;
            grid-template-rows: auto;
        }
    }
    @media all and(max-width:750px){
        .teams-section{
            height:84vh;
            width:auto;
            display: grid;
            margin-left: 8%;
            grid-template-columns: repeat(2, 1fr);
            padding: 3% ;
            grid-template-rows: auto;
        }
    }
    @media all and (max-width:550px) {
        .header-section{
            height:8vh;
            margin-top:3px;
            text-align: center;
            font-size: 1rem;
        }
        .teams-section{
            height:84vh;
            display: flex;
            margin-left: 8%;
            flex-direction: column;
            padding: 3% ;
            flex-wrap: nowrap;
        }
    }

    
}