.HomePage{
    background-color: whitesmoke;
    margin: 1em;
    margin-bottom: 0;
    padding: 1em;
    justify-content: center;  
        align-self: center; 
    .header-section{
        text-align: center;
        font-size: 1.5rem;
    }
    .teams-section{
        display: grid;
        
        grid-template-columns: repeat(4, 1fr);
        padding: 3%;
        grid-template-rows: auto;
    }
    
    @media all and(max-width:1200px){
        .teams-section{
            display: grid;
            
            grid-template-columns: repeat(3, 1fr);
            padding: 3% ;
            grid-template-rows: auto;
        }
    }
    @media all and(max-width:880px){
        .teams-section{
            display: grid;
            
            grid-template-columns: repeat(2, 1fr);
            padding: 3% ;
            grid-template-rows: auto;
        }
    }
    // For Mobiles
    @media all and (max-width:550px){
        .header-section{
            margin-top:1.5em;
            text-align: center;
            font-size: 1rem;
        }
        .teams-section{
            display: flex;
            margin: 3% auto;
            align-items: center;
            flex-direction:column;
            flex-wrap: nowrap;
        }
    }
}