.MatchDetailCard{
    margin: 17px;
    padding:3.5%;
    
    .match-statistics{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding:3%;
    }
    .match-toss-winner{
        text-align:center;
        padding:0.5%;
    }
    p{
        padding:0.5%;
        line-height: 1.5;
    }
    .match-result-section{
        text-align:center;
        font-style: center;
    }
}
