.YearSelector{
    text-align: left;
    list-style: none;
    li{
        margin: 5% auto;
        padding-left: 4%;
        a{
            color:black;
            font-weight: 600;
        }
        a:focus{
            color:black;
            background-color: whitesmoke;
            padding:10%;
            margin:5%;
            border:1px solid black;
        }
    }
    
}